<!-- <form action="">
    <input type="text" name="name" id="name1" [(ngModel)]="forms.name">
    <input type="text" name="address" id="address" [(ngModel)]="forms.address">
    <input type="text" name="age" id="age" [(ngModel)]="forms.age">
    <input type="text" name="contact_information" id="contact_information" [(ngModel)]="forms.contact_information">
    <input type="text" name="relationship" id="relationship" [(ngModel)]="forms.relationship">
    <button type="submit" (click)="update()">Update</button>
</form> -->
<mat-card>
    <mat-card-header>
        <h2>Edit Beneficiary</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form"  [formGroup]="forms" (ngSubmit)="update()">
           
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
                <mat-error>
                    <span *ngIf="forms.get('name')?.hasError('required')  && (forms.get('name')?.dirty || forms.get('name')?.touched)">Please Enter Valid Name</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput  type="text" formControlName="address" >
                <mat-error>
                    <span *ngIf="forms.get('address')?.hasError('required')  && (forms.get('address')?.dirty || forms.get('address')?.touched)">Please Enter Valid Address</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field
               class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput type="text" formControlName="age"  >
                <mat-error> 
                    <span *ngIf="forms.get('age')?.hasError('required') && (forms.get('age')?.dirty || forms.get('age')?.touched)">Please Enter Valid Age</span>
                    <span *ngIf="((forms.get('age')?.hasError('min')) || (forms.get('age')?.hasError('max'))) && (forms.get('age')?.dirty || forms.get('age')?.touched)">Age allow only 1 to 2 digits</span>
                </mat-error>
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                <mat-label>Contact Information</mat-label>
                <input matInput type="text"formControlName="contact_information"  >
                <mat-error> 
                    <span *ngIf="forms.get('contact_information')?.hasError('required') && (forms.get('contact_information')?.dirty || forms.get('age')?.touched)">Please Enter Valid Contact Information</span>
                    <span *ngIf="((forms.get('contact_information')?.hasError('min')) || (forms.get('contact_information')?.hasError('max'))) && (forms.get('contact_information')?.dirty || forms.get('contact_information')?.touched)">Number allow only 10 to 12 digits</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Relationship</mat-label>
                <input matInput type="text" formControlName="relationship">
                <mat-error>
                    <span *ngIf="forms.get('relationship')?.hasError('required')  && (forms.get('relationship')?.dirty || forms.get('relationship')?.touched)">Please Enter Valid Relationship</span>
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-raised-button [disabled]="forms.invalid" color="primary" type="submit"  >Update</button>
                <a routerLink="/home" mat-raised-button color="accent">Back to home</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>